@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<h1>Contact</h1>
<address>
    Sediul Oficial Art Club Craiova <br />
    Craiova, str. Garlesti nr. 15<br />
    <abbr title="Phone">P:</abbr>
    0745399395
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ciurceadaniel@gmail.com">Support@artclub.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ciurceadaniel@gmail.com">Marketing@artclub.com</a>
</address>